
@{
    ViewData["Title"] = "BaiTap2";
}

@model SanPhamViewModel

<h2>Thông tin sản phẩm</h2>
<p><strong>Tên sản phẩm:</strong> @ViewBag.TenSanPham</p>
<p><strong>Gía</strong> @ViewBag.Gia VND</p>
<img src="@ViewBag.MoTa" alt="Anh mô tả" />

