
@{
    ViewData["Title"] = "BaiTap2";
}

@model SanPhamViewModel

<h2>Thông tin sản phẩm</h2>
<p><strong>Laptop Acer</strong> @Model.TenSanPham</p>
<p><strong>21000000</strong> @Model.Gia VND</p>
<img src="@Model.MoTa" alt="" />

